
@charset "UTF-8";
/* CSS Document */
	
#sword, #rock {
	display: none;	
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Mr. Scheurlein's code ---------------------
#tooltip {
	text-decoration: none;
	position: relative;
}
#tooltip span {
	display: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: black;
	background: white; 
}
#tooltip:hover span {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width: 320px;
	min-height: 32px;
	border:1px solid black;
	margin-top:12px;
	margin-left:32px;
	overflow:hidden;
	padding:8px;
}
--------------------------*/



#rock, #sword, #pocketknife {
	display: none;
}

.button{
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	
}

#wrapper {
		width: 960px;
		padding: 5px;
		margin: 20px auto;
}

#health {	
	float:right;
	width: 300px;
}

#choices {
		float:left;
		width: 500px;
		height: 215px;
		
		
}

#goal {
		float: left;
		width: 500px;
	
}

#story {
		float: left;
		height: 400px;
		width: 500px;
		padding-top: 3px;
		
		
		
	
}

#inventory {
	float:right;
	width:300px;
	height:523px;
	
}

#buttons input, #buttons button {
	border-radius: 5px;
	background-color: #741515;
	color: #B6BCCE;
	font-size: 13px;
	
	padding-right: 3px;
	padding-left: 3px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor:pointer;
}

body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color: #B6BCCE;
	background-size: 150%;
	background-image:url(backgrounds/forest2.jpg);
		
}


#health, #goal, #choices, #inventory, #story {
	background-color: rgba(78, 83, 111, 0.8);
	margin-bottom: 10px;
	border-radius: 2px; 
	padding-left: 10px;
	padding-right: 50px;
	border-style:outset;
	border-color: white;
}


/*----------------------------------------


				RESPONSIVE (MEDIA QUERIES)


--------------------------------------*/

@media screen and (max-width: 980px) {
	#wrapper {
		width: 94%;
	}
	#story, #choices, #goal {
		width: 40%;
		font-size: 13px;
	}
	#health, #inventory {
		width: 39%;
		length: 20%;
	}
	#story {
		height: 500px;
		padding-top: 9px;
	}
	#inventory {
		height: 623px;
		
	}
	
	
	
}

@media screen and (max-width: 700px) {
		
		#story, #choices {
			font-size: 14px;	
		}
		
		#bread, #heart {
			width: 20px;
			height: 20px;
		}
		
		#inventory {
			height: 200px;	
		}
	 	#story {
			height: 300px;	
		}
		#health, #goal, #choices, #inventory, #story {
			float: none;
			width: auto;
		}
}

@media screen and (max-width: 480px) {
		#goal {
			height: auto;
		}
		
		#health, #goal, #choices {
			font-size: 12px;
		}
		#health {
			float: none;	
		}
		
		
}

/*PHONES*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
	
	
	#goal, #choices, #story, #health, #inventory {
		border-radius: 16px;
		border-width: 8px;
		float: none;
		width: auto;
		}
	
	#story {
		height: 200px;	
		font-size: 20px;
	}
}